.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 20px;
}

.title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.button {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}
